.header{
    font-size: 40px;
    height: 100px;
    background-color:#ff0000;
    text-align: center;
    padding: 20px;
    
}
a{
    color: black;
}


.wrapper{
overflow: hidden;

}

.title{
   
    float: left; 
   width: 60%;
height: 150px;
border: 5px solid #000;
background-color:#008000 ;
box-sizing: border-box;
padding: 0px 20px;
}
h1{
    font-size: 40px;
    color:#000;
}



.description{
    float: right; 
   width: 40%;
height: 150px;
border: 5px solid #000;
background-color: #0000ff;
box-sizing: border-box;
padding: 0px 20px;
}

p{
    color: #fff;
    font-size: 18px;
}


.box{
    width: 33.33%;
    height: 100px;
    float: left;
 
}
h4{
    padding: 0px 20px;
    color: #000;
    font-size: 25px;
}
.left{
    font-size: 20px;
    color:#f5f5dc;
    background-color:#8a2be2
}
.middle{
    background-color:#7fffd4;
}
.right{
    background-color: #ffe4c4;
}

.footer {
    padding: 40px 0px ;
    font-size: 40px;
    color: #fff;
    height: 100px;
    background-color: black;
    text-align: center;
    /* clear: both;  */
}